/*/////////////////////////////////

    Buttons

//////////////////////////////////*/

.button {
    @include transition(all, $animate-base-speed, 0s, $easeJello);
    background-color: $base-color-1;
    color: $white;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 12px 50px 13px;
    position: relative;
    text-align: center;
    white-space: normal;
    width: auto;
    z-index: 5;

    @include respond-to(tablet) {
        display: inline-block;
        font-size: 13px;
        padding: 15px 30px;
        width: auto;
    }

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: transparent;
    }

    &.button-rounded {
        border-radius: 100px;
    }

    // TODO CHECK PROPER WAY TO ANIMATE FILL animate-button-fill
    &.button-ghost {
        background-color: transparent;
       // border: $animate-base-border-size solid $base-color-1;
    }

    &.button-icon {
        padding: 10px 40px 10px 30px;
        text-align: left;

        @include respond-to(tablet) {
            padding: 16px 55px 15px 30px;
        }
    }

    //scss-lint:disable MergeableSelector
    &.button-icon-left {
        padding: 10px 30px 10px 40px;

        @include respond-to(tablet) {
            padding: 16px 30px 15px 55px;
        }
    }
    //scss-lint:disable MergeableSelector

    .icon {
        font-size: 19px;
        left: auto;
        margin-top: -13px;
        position: absolute;
        right: 20px;
        top: 50%;
    }

    &.button-icon-left {
        .icon {
            left: 20px;
            right: auto;
        }
    }
}

.btn {
    @include transition();
    border-radius: 0;
    padding: 10px 25px 11px;
}

.btn-primary {
    @include button-variant($white, $btn-primary-bg, $btn-primary-bg);
    border-radius: 100px;
    color: $white;
    font-size: 18px;
    height: 50px;
    padding: 10px 30px;
    position: relative;
    width: 100%;

    @include respond-to(tablet) {
        font-size: 13px;
        height: 40px;
        width: auto;
    }

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        color: $white;

        @include themify {
            background-color: theme-get(theme-color-3);
            border-color: theme-get(theme-color-3);
        }
    }

    &:after {
        @include transition();
        background-size: contain;
        content: '';
        height: 14px;
        margin: -6px 0 0 -10px;
        position: absolute;
        right: 20px;
        top: 50%;
        width: 20px;
        z-index: 2;

        @include respond-to(tablet) {
            right: 26px;
        }
    }

    &.btn-primary__home {
        background-color: $base-color-6;
        border-color: $base-color-7;
        color: $white;
        font-size: 20px;
        height: 60px;
        margin-top: 170px;
        padding: 17px 30px 14px;

        &:hover {
            background-color: $white;
            border-color: $base-color-6;
            color: $base-color-7;
        }
    }

    &.btn-primary--info-block {
        border-color: $white;
        height: 60px;
        padding: 17px 75px 14px 30px;

        @include respond-to(tablet) {
            font-size: 14px;
            height: 50px;
            padding: 16px 15px 11px;
            width: 100%;

            &:after {
                display: none;
            }
        }

        @include respond-to(desktop_big) {
            font-size: 18px;
            height: 60px;
            padding: 17px 75px 14px 30px;
            width: auto;

            &:after {
                display: inline-block;
            }
        }
    }

    &.burger__filter-btn {
        font-size: 16px;
        margin-top: 25px;
        padding: 20px 25px 14px;
        position: relative;
        width: auto;
        z-index: 1;

        @include respond-to(tablet) {
            font-size: 18px;
            padding: 18px 30px 14px;
        }

        &:after {
            background-image: none;
        }

        &:hover {
            &:after {
                background-image: none;
            }
        }
    }
}

.btn-secondary {
    background-color: $white;
    border-color: $white;
    border-radius: 100px;
    color: $base-color-7;
    font-size: 18px;
    max-width: 100%;
    white-space: normal;

    @include respond-to(tablet) {
        font-size: 25px;
    }

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: $base-color-7;
        border-color: $white;
        color: $white;
    }
}
