/*/////////////////////////////////

    Typography

//////////////////////////////////*/

/*@mixin ff_opensans_light() {
    font-family: 'open_sans_light', Arial, sans-serif;
    font-weight: normal;
}

@mixin ff_opensans_regular() {
    font-family: 'open_sans_regular', Arial, sans-serif;
    font-weight: normal;
}

@mixin ff_opensans_semibold() {
    font-family: 'open_sans_semibold', Arial, sans-serif;
    font-weight: normal;
}

@mixin ff_opensans_bold() {
    font-family: 'open_sans_bold', Arial, sans-serif;
    font-weight: normal;
}*/


@mixin brandon_grotesque_regular() {
    font-family: 'BrandonGrotesqueWeb-Regular', Arial, sans-serif;
    font-weight: normal;
}

@mixin brandon_grotesque_bold() {
    font-family: 'BrandonGrotesqueWeb-Bold', Arial, sans-serif;
    font-weight: normal;
}

body {
    -moz-osx-font-smoothing: grayscale;
}

b,
strong {
    font-weight: bold;
}

// only hide and show for javascript enabled browsers
.js .ff {
    visibility: hidden;
}

.wf-loading .ff {
    visibility: hidden;
}

.js.wf-active .ff,
.js.wf-inactive .ff {
    visibility: visible;
}

/***[ selection ]******************************************************************************************/

::-moz-selection {
    background: $selection-color;
    color: $selection-text-color;
    text-decoration: none;
    text-shadow: none;
}

::selection {
    background: $selection-color;
    color: $selection-text-color;
    text-decoration: none;
    text-shadow: none;
}

.margin-t-xs {
    margin-top: 10px;
}

.margin-t-sm {
    margin-top: 30px;
}

.margin-t-md {
    margin-top: 50px;
}

.margin-t-lg {
    margin-top: 100px;
}

.margin-b-xs {
    margin-bottom: 10px;
}

.margin-b-sm {
    margin-bottom: 30px;
}

.margin-b-md {
    margin-bottom: 50px;
}

.margin-b-lg {
    margin-bottom: 100px;
}
