/*/////////////////////////////////

    Font-Face

//////////////////////////////////*/

/*
@font-face {
    font-family: 'open_sans_light';
    src: url('/assets/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-light-webfont.woff') format('woff'),
         url('/assets/fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_regular';
    src: url('/assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/assets/fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_semibold';
    src: url('/assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/assets/fonts/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_bold';
    src: url('/assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-bold-webfont.woff') format('woff'),
         url('/assets/fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
