/*/////////////////////////////////

    Media - BASE Version

//////////////////////////////////*/

// Media player - Play button

.media-player__play-button {
    @include transition(all, $animate-base-speed, 0s, $easeJello);
    background: $white;
    border-radius: 100%;
    display: block;
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 50px;
    z-index: 5;

    &:after {
        @include transition(all, $animate-base-speed, 0s, $easeJello);
        border-bottom: 7px solid transparent;
        border-left: 10px solid $black;
        border-right: 0 solid transparent;
        border-top: 7px solid transparent;
        content: '';
        height: 0;
        left: 50%;
        margin: -7px 0 0 -4px;
        position: absolute;
        top: 50%;
        width: 0;
        z-index: 15;
    }

    &:before {
        @include transition(all, $animate-base-speed, 0s, $easeJello);
        @include transform(scale3d(0, 0, 0));
        background-color: $white;
        border-radius: 100%;
        content: '';
        height: inherit;
        left: 0;
        position: absolute;
        top: 0;
        width: inherit;
        z-index: 10;
    }

    .hover & {
        &:before {
            @include transform(scale3d(1.025, 1.025, 1.025));
            background-color: $black;
        }

        &:after {
            border-left-color: $white;
        }
    }
}


// Swiper - Arrow navigation

.swiper-arrows {
    display: none;
    bottom: -50px;
    position: absolute;
    right: -10px;
    width: 80px;

    @include respond-to(desktop) {
        display: block;
    }
}

.swiper-button-prev,
.swiper-button-next {
    @include transition();
    background: none;
    bottom: 0;
    height: 30px;
    display: block;
    margin: 0;
    position: absolute;
    text-align: center;
    top: auto;
    width: 30px;

    &.disable {
        opacity: 0.3;
    }
}

.swiper-button-prev {
    left: 0;

    &:hover {
        @include transform(scale(.9));
    }
}

.swiper-button-next {
    right: 0;

    &:hover {
        @include transform(scale(.9));
    }
}
