/*/////////////////////////////////

    Page Transitions - BASE Version

//////////////////////////////////*/

$page_transition_type: $easeInOutCirc;

.animated {
    animation-duration: .6s;
}

@keyframes anim__fade-in {
    0% {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes anim__fade-in-ghost {
    0% {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.anim__fade-in-ghost {
    @include respond-to(tablet) {
        animation-name: anim__fade-in-ghost;
    }
}

.anim__fade-in {
    @include transition(all, .3s, 0s, $easeJello);
    animation-name: anim__fade-in;
}

.no-transition {
    @include respond-to(mobile) {
        animation-name: none;
        //scss-lint:disable ImportantRule
        transition: none !important;
        //scss-lint:enable ImportantRule
    }
}

@keyframes anim__fade-in-top {
    0% {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.anim__fade-in-top {
    animation-name: anim__fade-in-top;
}

@keyframes anim__fade-in-left{
    0% {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.anim__fade-in-left {
    animation-name: anim__fade-in-left;
}

@keyframes anim__fade-in-right {
    0% {
        opacity: 0;
        transform: translate3d(30px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.anim__fade-in-right {
    animation-name: anim__fade-in-right;
}

// Preloader icon

.bravoure__trans-icon {
    @include transition(all, .2s, .6s, $page_transition_type);
    animation: cssload-animation 1.15s infinite linear;
    background-color: $base-color-4;
    border-radius: 50%;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 9999;

    .anim-in & {
        opacity: 1;
    }

    .anim-out & {
        @include transition(all, .2s, 0s, $page_transition_type);
        opacity: 0;
    }

    &.br__trans-flip-top,
    &.br__trans-scale-square {
        @include transition(all, .2s, .3s, $page_transition_type);

        .anim-out & {
            @include transition(all, .2s, 0s, $page_transition_type);
        }
    }
}

.bravoure__trans-icon:before,
.bravoure__trans-icon:after {
    border-radius: 50%;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

// Preloader mask

.bravoure__trans-mask-container {
    .anim-in &,
    .anim-out & {
        height: 100%;
        -webkit-perspective: 1000;
        position: fixed;
        width: 100%;
        z-index: 9997;
    }
}

.bravoure__trans-mask {
    background-color: $white;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;

    // ----------------------------- *
    // Slide from top
    // ----------------------------- *
    &.br__trans-slide-top {
        left: 0;
        top: -100%;
    }


    // ----------------------------- *
    // Slide from right
    // ----------------------------- *
    &.br__trans-slide-right {
        right: -100%;
    }


    // ----------------------------- *
    // Rotate X axis from center
    // ----------------------------- *
    &.br__trans-rotate-x {
        transform: rotateX(90deg);
    }


    // ----------------------------- *
    // Rotate Y axis from center
    // ----------------------------- *
    &.br__trans-rotate-y {
        transform: rotateY(90deg);
    }


    // ----------------------------- *
    // Scale circle from center
    // ----------------------------- *
    &.br__trans-scale-circle {
        border-radius: 100%;
        height: 0;
        left: 50%;
        top: 50%;
        width: 0;
    }


    // ----------------------------- *
    // Scale square from center
    // ----------------------------- *
    &.br__trans-scale-square {
        opacity: 0;
        transform: scale3d(.9, .9, .5);
    }


    // ----------------------------- *
    // Flip from top
    // ----------------------------- *
    &.br__trans-flip-top {
        left: 0;
        opacity: 0;
        top: 0;
        transform: rotateX(0deg) translateZ(0);
        transform-origin: 0 0;
        -webkit-transform-style: preserve-3d;
    }


    // ----------------------------- *
    // Door close
    // ----------------------------- *
    &.br__trans-door-close {
        background-color: transparent;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;

        &:before {
            @include transition(all, .5s, 0s, $page_transition_type);
            background-color: $white;
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: fixed;
            top: 0;
            width: 0;
        }

        &:after {
            @include transition(all, .5s, 0s, $page_transition_type);
            background-color: $white;
            content: '';
            height: 100%;
            opacity: 0;
            position: fixed;
            right: 0;
            top: 0;
            width: 0;
        }
    }
}


.br__trans {

    @include transition();

    &.anim-in-setup {
        opacity: 0;
    }

    &.anim-in {
        opacity: 1;
    }

    &.anim-out-setup {
        opacity: 0;
    }

}


// Animation in

.anim-in {
    .bravoure__trans-mask {
        @include transition(all, .6s, 0s, $page_transition_type);
        z-index: 9998;

        // ----------------------------- *
        // Slide from top
        // ----------------------------- *
        &.br__trans-slide-top {
            top: 0;
        }


        // ----------------------------- *
        // Slide from right
        // ----------------------------- *
        &.br__trans-slide-right {
            right: 0;
        }


        // ----------------------------- *
        // Rotate X axis from center
        // ----------------------------- *
        &.br__trans-rotate-x {
            transform: rotateX(180deg);
        }


        // ----------------------------- *
        // Rotate Y axis from center
        // ----------------------------- *
        &.br__trans-rotate-y {
            transform: rotateY(180deg);
        }


        // ----------------------------- *
        // Scale circle from center
        // ----------------------------- *
        &.br__trans-scale-circle {
            height: 2500px;
            left: 50%;
            margin-left: -1250px;
            margin-top: -1250px;
            top: 50%;
            width: 2500px;
        }


        // ----------------------------- *
        // Scale square from center
        // ----------------------------- *
        &.br__trans-scale-square {
            opacity: 1;
            transform: scale3d(1, 1, .5);
        }


        // ----------------------------- *
        // Flip from top
        // ----------------------------- *
        &.br__trans-flip-top {
            opacity: 1;
            transform: rotateX(0deg) translateZ(0);
        }


        // ----------------------------- *
        // Door close
        // ----------------------------- *
        &.br__trans-door-close {
            &:before {
                opacity: 1;
                width: 50%;
            }

            &:after {
                opacity: 1;
                width: 50%;
            }
        }
    }
}


// Animation out

.anim-out {
    .bravoure__trans-mask {
        @include transition(all, .6s, 0s, $page_transition_type);

        // ----------------------------- *
        // Slide from top
        // ----------------------------- *
        &.br__trans-slide-top {
            top: 100%;
        }

        // ----------------------------- *
        // Slide from right
        // ----------------------------- *
        &.br__trans-slide-right {
            right: 100%;
        }


        // ----------------------------- *
        // Rotate X axis from center
        // ----------------------------- *
        &.br__trans-rotate-x {
            transform: rotateX(270deg);
        }


        // ----------------------------- *
        // Rotate Y axis from center
        // ----------------------------- *
        &.br__trans-rotate-y {
            transform: rotateY(270deg);
        }


        // ----------------------------- *
        // Scale circle from center
        // ----------------------------- *
        &.br__trans-scale-circle {
            height: 0;
            left: 50%;
            margin-left: 0;
            margin-top: 0;
            top: 50%;
            width: 0;
        }


        // ----------------------------- *
        // Scale square from center
        // ----------------------------- *
        &.br__trans-scale-square {
            opacity: 0;
            transform: scale3d(.9, .9, .5);
        }


        // ----------------------------- *
        // Flip from top
        // ----------------------------- *
        &.br__trans-flip-top {
            opacity: 0;
            transform: rotateX(-10deg) translateZ(0);
        }


        // ----------------------------- *
        // Door close
        // ----------------------------- *
        &.br__trans-door-close {
            &:before {
                opacity: 0;
                width: 0;
            }

            &:after {
                opacity: 0;
                width: 0;
            }
        }
    }
}


// Animation keyframes - Preloader

@keyframes cssload-animation {
    0% {
        border-radius: 50%;
        transform: rotate(0deg);
    }

    50% {
        border-radius: 0;
        transform: rotate(90deg);
    }

    100% {
        border-radius: 50%;
        transform: rotate(180deg);
    }
}
