/*/////////////////////////////////

    Page Movements - BASE Version

//////////////////////////////////*/

$page_transition_type: $easeInOutCirc;
$page_transition_speed: 1s;

[ui-view] {
    //@include transition(all, $page_transition_speed, $page_transition_type);
    //position: absolute;

    &.hide__at__first {
        opacity: 0;
    }
}

// General setup
.br__movements {

    .br__in { z-index: 9999; }
    .br__out { z-index: 8888; }

    &.br__move-vert {
        .br__in { animation: br__in-vert $page_transition_speed $easeInOutCirc; }
        .br__out { animation: br__out-vert $page_transition_speed $easeInOutCirc; }
    }

    &.br__move-hor {
        .br__in { animation: br__in-hor $page_transition_speed $easeInOutCubic; }
        .br__out { animation: br__out-hor $page_transition_speed $easeInOutCubic; }
    }

}


// Vertical slide
@keyframes br__in-vert {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes br__out-vert {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        display: none;
        opacity: 0;
        transform: translateY(100%);
    }
}

// Horizontal slide
@keyframes br__in-hor {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes br__out-hor {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        display: none;
        opacity: 0;
        transform: translateX(30px);
    }
}
