/*/////////////////////////////////

    Typography - BASE Version

//////////////////////////////////*/

body {
    -moz-osx-font-smoothing: grayscale;
}

b,
strong {
    font-weight: bold;
}

// only hide and show for javascript enabled browsers
.js .ff {
    visibility: hidden;
}

.wf-loading .ff {
    visibility: hidden;
}

.js.wf-active .ff,
.js.wf-inactive .ff {
    visibility: visible;
}

/***[ selection ]******************************************************************************************/

::-moz-selection {
    background: $selection-color;
    color: $selection-text-color;
    text-decoration: none;
    text-shadow: none;
}

::selection {
    background: $selection-color;
    color: $selection-text-color;
    text-decoration: none;
    text-shadow: none;
}
