/* (c) 2016 Bravoure B.V. - bravoure.nl */

/***[ general ]******************************************************************************************/

body {
    //@include brandon_grotesque_regular();
    //background-color: $background-color;
    color: $base-color-1;
    font-size: 18px;
    overflow-x: hidden;

    @include themify {
        background: theme-get(theme-color-1);
        color: theme-get(theme-color-2);
    }
}

a:focus {
    color: $base-color-1;
    outline: none;
    text-decoration: none;
}

//scss-lint:disable IdSelector
#loading-bar .bar {
    background: $base-color-2;
}
//scss-lint:enable IdSelector

.background-image {
    @include transition(all, .6s, 0s, $easeJello);
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    &.ghost {
        &:before,
        &:after {
            display: none;
        }
    }

    &.lazyloaded {
        opacity: 1;

        &:after,
        &:before {
            opacity: 0;
        }
    }

    &:after {
        @include transition(all, .5s, 0s);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }

    &:before {
        @include transition();
        background-size: contain;
        content: '';
        height: 16px;
        left: 50%;
        margin: -8px 0 0 -8px;
        position: absolute;
        top: 50%;
        width: 16px;
        z-index: 1;
    }

    .lazyloaded {
        transition-delay: 3s;
        z-index: 1;
    }

    //scss-lint:disable MergeableSelector
    &.lazyloaded {
        .lazyloaded {
            opacity: 0;
        }
    }
    //scss-lint:enable IdSelector

    &.lazyload {
        .lazyloaded {
            z-index: 2;
        }
    }
}

.background-image__container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .preloader {
        left: 50%;
        margin: -20px 0 0 -20px;
        top: 50%;
        z-index: 0;
    }
}

.background__white {
    background-color: $white;
}

.background__grey {
    background-color: $background-color;
}

.container-fluid {
    max-width: 1430px;
    padding: 0 25px;

    @include respond-to(tablet) {
        padding: 0 50px;
    }

    @include respond-to(tablet_portrait) {
        padding: 0 20px;
    }

    @include respond-to(desktop) {
        padding: 0 80px;
    }

    .menu__burger-bar & {
        max-width: none;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding: 0 25px;

    @include respond-to(tablet) {
        padding: 0 50px;
    }

    @include respond-to(tablet_portrait) {
        padding: 0 25px;
    }

    @include respond-to(desktop) {
        padding: 0 50px;
    }
}

.clickable {
    cursor: pointer;
}

.anim-hide {
    visibility: hidden;

    .ff,
    &.ff {
        //scss-lint:disable ImportantRule
        visibility: hidden !important;
        //scss-lint:enable ImportantRule
    }

    &.no-transition {
        visibility: visible;
    }
}

.anim-hide-mobile {
    @include transition(all, .6s, 0s, $easeJello);

    animation: animate-opacity-position;
    animation-duration: .3s;

    .ff,
    &.ff {
        //scss-lint:disable ImportantRule
        visibility: hidden !important;
        //scss-lint:enable ImportantRule
    }
}

@keyframes animate-opacity {
    0% {
        opacity: 0;
        /*-webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);*/
    }

    100% {
        opacity: 1;
        /*-webkit-transform: none;
        transform: none;*/
    }
}

@keyframes animate-opacity-position {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.iframe-loading {
    width: 100%;
}
