/*/////////////////////////////////

    Animation variables

//////////////////////////////////*/

// Base animation types
// The icon will be moving to this direction when hovering.
$animate-icon-direction: 'right';

// The underline will move from this direction when hovering.
$animate-link-type: 'left';

// The background color will move from this direction when hovering.
$animate-button-type: 'left';

// The image will move in a specific direction when hovering.
$animate-image-type: 'zoom';

// Variables
$animate-base-speed: .6s;
$animate-base-delay: 0s;
$animate-base-speed-images: 2s;
$animate-base-border-size: 2px;

// Overriding variables from extend
@import '../../../../extend/assets/scss/animations/animation-base';
