/*/////////////////////////////////

    Animations

    Structure explanation (Always start with 'animate-'):
    animate-{element-name}-{animation-type}-{animation-type-modifier}

    Example:
    animate-button-outline-double

//////////////////////////////////*/

//
// Icon Animations
// --------------------------------------------------


// Animate button fill
// 1) Options: direction
// --------------------------------------------------

@mixin animate-icon-direction($direction: 'right', $amount: 8px) {
    .icon {
        @include transition(all, $animate-base-speed, $animate-base-delay, $easeJello);
    }

    @if $direction == 'left' {
        &:hover,
        &.hover {
            .icon {
                @include transform(translateX(-$amount) translateY(-50%));
            }
        }
    } @else if $direction == 'top' {
        &:hover,
        &.hover {
            .icon {
                margin-top: -$amount;
            }
        }
    } @else if $direction == 'right' {
        &:hover,
        &.hover {
            .icon {
                @include transform(translateX($amount) translateY(-50%));
            }
        }
    } @else if $direction == 'bottom' {
        &:hover,
        &.hover {
            .icon {
                margin-top: $amount;
            }
        }
    }
}
