/*/////////////////////////////////

    Animations

    Structure explanation (Always start with 'animate-'):
    animate-{element-name}-{animation-type}-{animation-type-modifier}

    Example:
    animate-button-outline-double

//////////////////////////////////*/


//
// General Animations
// --------------------------------------------------

// Animate skew
// 1) Options: deg
// --------------------------------------------------

@mixin animate-skew-forward($deg: -8deg) {
    @include transition(all, $animate-base-speed, $animate-base-delay, $easeJello);
    transform-origin: left bottom;

    &:hover {
        @include transform(skewX($deg));
    }
}
