/*/////////////////////////////////

    Animations

    Structure explanation (Always start with 'animate-'):
    animate-{element-name}-{animation-type}-{animation-type-modifier}

    Example:
    animate-button-outline-double

//////////////////////////////////*/

//
// Image Animations
// --------------------------------------------------


// Animate image position
// 1) Options: type
// --------------------------------------------------

@mixin animate-image-position($direction: 'zoom', $amount: 1.10, $specify: false) {
    @if $specify == true {
        .animate-image {
            display: block;
            overflow: hidden;
        }
    } @else {
        display: block;
        overflow: hidden;
    }

    img,
    .background-image {
        @include transition(all, $animate-base-speed-images, $animate-base-delay, $easeJello);
        z-index: 0;
    }

    @if $direction != 'zoom' {
        img {
            @include transform(scale(1.15));
        }
    }

    &:hover,
    &.hover {
        @if $specify == true {
            @if $direction == 'zoom' {
                .animate-image img,
                .animate-image .background-image {
                    @include transform(scale($amount));
                }
            } @else if $direction == 'top' {
                .animate-image img,
                .animate-image .background-image {
                    @include transform(scale($amount) translateY(-20px));
                }
            } @else if $direction == 'right' {
                .animate-image img,
                .animate-image .background-image {
                    @include transform(scale($amount) translateX(20px));
                }
            } @else if $direction == 'bottom' {
                .animate-image img,
                .animate-image .background-image {
                    @include transform(scale($amount) translateY(20px));
                }
            } @else if $direction == 'left' {
                .animate-image img,
                .animate-image .background-image {
                    @include transform(scale($amount) translateX(-20px));
                }
            }
        } @else {
            @if $direction == 'zoom' {
                img,
                .background-image {
                    @include transform(scale($amount));
                }
            } @else if $direction == 'top' {
                img,
                .background-image {
                    @include transform(scale($amount) translateY(-20px));
                }
            } @else if $direction == 'right' {
                img,
                .background-image {
                    @include transform(scale($amount) translateX(20px));
                }
            } @else if $direction == 'bottom' {
                img,
                .background-image {
                    @include transform(scale($amount) translateY(20px));
                }
            } @else if $direction == 'left' {
                img,
                .background-image {
                    @include transform(scale($amount) translateX(-20px));
                }
            }
        }
    }
}
